body {
	margin: 0;
	background-color: #FBE4FF;
}

.header_block {
	position: relative;
	width: 1920px;
	height: 65px;
	background-color: #243B93;
	margin: 0 auto;
}

.logo {
	position: absolute;
	margin: 7px 1481px 8px 299px;
}

.header_block_2 {
	width: 1920px;
	height: 85px;
	background-color: #BFF0FF;
	margin: 0 auto;
}

.menu {
	position: absolute;
	margin: 15px 403px 12px 507px;

}

.ul_menu {
	text-transform: uppercase;
	list-style: none;
	padding-bottom: 0px;
	margin: 0;
}

.li_menu {
	display: inline-block;

}

.last_menu_item {
	position: absolute;
	text-transform: uppercase;
	list-style: none;
	margin: 6px 473px 11px 1200px;
}

.menu_links {
	display: inline-block;
	color: white;
	text-decoration: none;
	height: 18.8px;
	font-family: 'PT Sans', sans-serif;
	width: 170px;
	text-align: center;
	padding-top: 5px;
}



.globe {
	position: absolute;
	margin: 7px 360px 8px 1504px;
}

.lang {
	position: absolute;
}

.lang_p {
	display: inline-block;
	text-transform: uppercase;
	color: #FFFFFF;
	font-family: 'PT Sans', sans-serif;
	font-size: 28px;
	margin: 15px 316px 27px 1569px;
}

.header_block_2 {
	font-family: 'PT Sans', sans-serif;
	font-style: italic;
	font-size: 44px;
	max-width: 1920px;
	position: relative;
}

.text_block_2 {
	position: absolute;
	margin: 17px 1152px 11px 299px;
}

.main_content {
	width: 70%;
	margin: 27px auto;
}

.header_block_3 {
	width: 100%;
	background-color: #FFFFFF;
}

.place {
	/* display: inline-block; */
	font-family: 'PT Sans', sans-serif;
	font-style: italic;
	font-size: 1.5em;
	margin: 0.5% auto;
	text-align: center;
	padding-top: 2%;
	padding-bottom: 2%;
}

.test {
	width: 25%;
	margin: 0 auto;
}