body {
	background-color: #F5F5F5;
	font-family: 'Inter', sans-serif;
}

.main {
	width: 916px;
	background-color: #FFFFFF;
	margin: 0 auto;
}

.center {
	text-align: center;
	padding-top: 18px;
	size: 20px;
	line-height: 24.2px;
}

.centerH {
	text-align: center;
	padding-top: 0px;
	margin-top: -20px;
}

.centerimg {
	display: block;
	margin-left: auto;
	margin-right: auto
}

.leftimg {
	display: block;
	text-align: left;
	margin-left: 25px;
}

.div1 {
	margin-left: 25px;
	margin-right: 23px;
}

.h1 {
	size: 40px;
	line-height: 48.41px;
	font-weight: normal;
}

H2 {
	font-weight: normal;
	size: 32px;
}

.div_right {
	text-align: right;
	margin-right: 6px;
}